In [7]:
import os
import shutil
import pandas as pd

In [2]:
os.chdir('C:\projectData\leaseCleaned\cle_csv')

In [3]:
data = []
for root, dirs, files in os.walk(".", topdown=False):
    for name in files:
#         print(os.path.join(root, name))
#         fullname = os.path.join(root, name)
#         data.append(fullname)
        data.append(name)

In [4]:
data

['lease_100_2008.csv',
 'lease_100_2009.csv',
 'lease_100_2010.csv',
 'lease_100_2011.csv',
 'lease_100_2012.csv',
 'lease_100_2013.csv',
 'lease_100_2014.csv',
 'lease_100_2015.csv',
 'lease_100_2016.csv',
 'lease_100_2017.csv',
 'lease_100_2018.csv',
 'lease_103_2008.csv',
 'lease_103_2009.csv',
 'lease_103_2010.csv',
 'lease_103_2011.csv',
 'lease_103_2012.csv',
 'lease_103_2013.csv',
 'lease_103_2014.csv',
 'lease_103_2015.csv',
 'lease_103_2016.csv',
 'lease_103_2017.csv',
 'lease_103_2018.csv',
 'lease_104_2008.csv',
 'lease_104_2009.csv',
 'lease_104_2010.csv',
 'lease_104_2011.csv',
 'lease_104_2012.csv',
 'lease_104_2013.csv',
 'lease_104_2014.csv',
 'lease_104_2015.csv',
 'lease_104_2016.csv',
 'lease_104_2017.csv',
 'lease_104_2018.csv',
 'lease_105_2008.csv',
 'lease_105_2009.csv',
 'lease_105_2010.csv',
 'lease_105_2011.csv',
 'lease_105_2012.csv',
 'lease_105_2013.csv',
 'lease_105_2014.csv',
 'lease_105_2015.csv',
 'lease_105_2016.csv',
 'lease_105_2017.csv',
 'lease_105_2018.csv',
 'lease_106_2008.csv',
 'lease_106_2009.csv',
 'lease_106_2010.csv',
 'lease_106_2011.csv',
 'lease_106_2012.csv',
 'lease_106_2013.csv',
 'lease_106_2014.csv',
 'lease_106_2015.csv',
 'lease_106_2016.csv',
 'lease_106_2017.csv',
 'lease_106_2018.csv',
 'lease_108_2008.csv',
 'lease_108_2009.csv',
 'lease_108_2010.csv',
 'lease_108_2011.csv',
 'lease_108_2012.csv',
 'lease_108_2013.csv',
 'lease_108_2014.csv',
 'lease_108_2015.csv',
 'lease_108_2016.csv',
 'lease_108_2017.csv',
 'lease_110_2008.csv',
 'lease_110_2009.csv',
 'lease_110_2010.csv',
 'lease_110_2011.csv',
 'lease_110_2012.csv',
 'lease_110_2013.csv',
 'lease_110_2014.csv',
 'lease_110_2015.csv',
 'lease_110_2016.csv',
 'lease_110_2017.csv',
 'lease_110_2018.csv',
 'lease_111_2008.csv',
 'lease_111_2009.csv',
 'lease_111_2010.csv',
 'lease_111_2011.csv',
 'lease_111_2012.csv',
 'lease_111_2013.csv',
 'lease_111_2014.csv',
 'lease_111_2015.csv',
 'lease_111_2016.csv',
 'lease_111_2017.csv',
 'lease_111_2018.csv',
 'lease_112_2008.csv',
 'lease_112_2009.csv',
 'lease_112_2010.csv',
 'lease_112_2011.csv',
 'lease_112_2012.csv',
 'lease_112_2013.csv',
 'lease_112_2014.csv',
 'lease_112_2015.csv',
 'lease_112_2016.csv',
 'lease_112_2017.csv',
 'lease_112_2018.csv',
 'lease_114_2008.csv',
 'lease_114_2009.csv',
 'lease_114_2010.csv',
 'lease_114_2011.csv',
 'lease_114_2012.csv',
 'lease_114_2013.csv',
 'lease_114_2014.csv',
 'lease_114_2015.csv',
 'lease_114_2016.csv',
 'lease_114_2017.csv',
 'lease_114_2018.csv',
 'lease_115_2008.csv',
 'lease_115_2009.csv',
 'lease_115_2010.csv',
 'lease_115_2011.csv',
 'lease_115_2012.csv',
 'lease_115_2013.csv',
 'lease_115_2014.csv',
 'lease_115_2015.csv',
 'lease_115_2016.csv',
 'lease_115_2017.csv',
 'lease_115_2018.csv',
 'lease_116_2008.csv',
 'lease_116_2009.csv',
 'lease_116_2010.csv',
 'lease_116_2011.csv',
 'lease_116_2012.csv',
 'lease_116_2013.csv',
 'lease_116_2014.csv',
 'lease_116_2015.csv',
 'lease_116_2016.csv',
 'lease_116_2017.csv',
 'lease_116_2018.csv']

In [5]:
data[0]

'lease_100_2008.csv'

In [8]:
df = pd.read_csv(data[0])

In [10]:
df['district'] = df['Address'].apply(lambda x:x[:3])

In [11]:
df.head()

,dealTime,Usage,Type,Address,Pattern,Floor,floorSum,lat,long,unitPrice,district
0,2008-12,整層住家,電梯大樓,中正區中華路二段,2房1廳1衛,2,7,25.028453,121.505532,941,中正區
1,2008-12,整層住家,公寓,中正區林森南路,3房2廳1衛,3,4,25.038463,121.521444,750,中正區
2,2008-12,整層住家,公寓,中正區汀州路一段,1房2廳1衛,2,3,25.029342,121.508230,488,中正區
3,2008-12,整層住家,透天厝,中正區汀州路三段,2房1廳1衛,1,3,25.015911,121.531042,681,中正區
4,2008-12,整層住家,電梯大樓,中正區南昌路一段,2房1廳1衛,4,7,25.031562,121.516954,1176,中正區

In [12]:
print(list(df.columns))

['dealTime', 'Usage', 'Type', 'Address', 'Pattern', 'Floor', 'floorSum', 'lat', 'long', 'unitPrice', 'district']

In [14]:
df.columns = ['dealTime', 'usage', 'houseType', 'address', 'pattern', 'floor', 'floorSum', 'lat', 'lon', 'unitPrice', 'district']

In [15]:
print(list(df.columns))

['dealTime', 'usage', 'houseType', 'address', 'pattern', 'floor', 'floorSum', 'lat', 'lon', 'unitPrice', 'district']

In [16]:
df['address'] = df['address'].apply(lambda x:x[3:])

In [17]:
df.head()

,dealTime,usage,houseType,address,pattern,floor,floorSum,lat,lon,unitPrice,district
0,2008-12,整層住家,電梯大樓,中華路二段,2房1廳1衛,2,7,25.028453,121.505532,941,中正區
1,2008-12,整層住家,公寓,林森南路,3房2廳1衛,3,4,25.038463,121.521444,750,中正區
2,2008-12,整層住家,公寓,汀州路一段,1房2廳1衛,2,3,25.029342,121.508230,488,中正區
3,2008-12,整層住家,透天厝,汀州路三段,2房1廳1衛,1,3,25.015911,121.531042,681,中正區
4,2008-12,整層住家,電梯大樓,南昌路一段,2房1廳1衛,4,7,25.031562,121.516954,1176,中正區

In [18]:
df = df[['dealTime', 'district', 'address', 'lat', 'lon', 'usage', 'houseType', 'pattern', 'unitPrice', 'floor', 'floorSum']]

In [19]:
df.head()

,dealTime,district,address,lat,lon,usage,houseType,pattern,unitPrice,floor,floorSum
0,2008-12,中正區,中華路二段,25.028453,121.505532,整層住家,電梯大樓,2房1廳1衛,941,2,7
1,2008-12,中正區,林森南路,25.038463,121.521444,整層住家,公寓,3房2廳1衛,750,3,4
2,2008-12,中正區,汀州路一段,25.029342,121.508230,整層住家,公寓,1房2廳1衛,488,2,3
3,2008-12,中正區,汀州路三段,25.015911,121.531042,整層住家,透天厝,2房1廳1衛,681,1,3
4,2008-12,中正區,南昌路一段,25.031562,121.516954,整層住家,電梯大樓,2房1廳1衛,1176,4,7

In [20]:
for name in data:
    print(name)
    df = pd.read_csv(name)
    df['district'] = df['Address'].apply(lambda x:x[:3])
    df['Address'] = df['Address'].apply(lambda x:x[3:])
    df = df[['dealTime', 'district', 'Address', 'lat', 'long', 'Usage', 'Type', 'unitPrice', 'Pattern', 'Floor', 'floorSum']]
    df.columns = ['dealTime', 'district', 'address', 'lat', 'lon', 'usage', 'houseType', 'unitPrice', 
                  'pattern', 'floor', 'floorSum']
    df.to_csv(name, index=False)

lease_100_2008.csv
lease_100_2009.csv
lease_100_2010.csv
lease_100_2011.csv
lease_100_2012.csv
lease_100_2013.csv
lease_100_2014.csv
lease_100_2015.csv
lease_100_2016.csv
lease_100_2017.csv
lease_100_2018.csv
lease_103_2008.csv
lease_103_2009.csv
lease_103_2010.csv
lease_103_2011.csv
lease_103_2012.csv
lease_103_2013.csv
lease_103_2014.csv
lease_103_2015.csv
lease_103_2016.csv
lease_103_2017.csv
lease_103_2018.csv
lease_104_2008.csv
lease_104_2009.csv
lease_104_2010.csv
lease_104_2011.csv
lease_104_2012.csv
lease_104_2013.csv
lease_104_2014.csv
lease_104_2015.csv
lease_104_2016.csv
lease_104_2017.csv
lease_104_2018.csv
lease_105_2008.csv
lease_105_2009.csv
lease_105_2010.csv
lease_105_2011.csv
lease_105_2012.csv
lease_105_2013.csv
lease_105_2014.csv
lease_105_2015.csv
lease_105_2016.csv
lease_105_2017.csv
lease_105_2018.csv
lease_106_2008.csv
lease_106_2009.csv
lease_106_2010.csv
lease_106_2011.csv
lease_106_2012.csv
lease_106_2013.csv
lease_106_2014.csv
lease_106_2015.csv
lease_106_2016.csv
lease_106_2017.csv
lease_106_2018.csv
lease_108_2008.csv
lease_108_2009.csv
lease_108_2010.csv
lease_108_2011.csv
lease_108_2012.csv
lease_108_2013.csv
lease_108_2014.csv
lease_108_2015.csv
lease_108_2016.csv
lease_108_2017.csv
lease_110_2008.csv
lease_110_2009.csv
lease_110_2010.csv
lease_110_2011.csv
lease_110_2012.csv
lease_110_2013.csv
lease_110_2014.csv
lease_110_2015.csv
lease_110_2016.csv
lease_110_2017.csv
lease_110_2018.csv
lease_111_2008.csv
lease_111_2009.csv
lease_111_2010.csv
lease_111_2011.csv
lease_111_2012.csv
lease_111_2013.csv
lease_111_2014.csv
lease_111_2015.csv
lease_111_2016.csv
lease_111_2017.csv
lease_111_2018.csv
lease_112_2008.csv
lease_112_2009.csv
lease_112_2010.csv
lease_112_2011.csv
lease_112_2012.csv
lease_112_2013.csv
lease_112_2014.csv
lease_112_2015.csv
lease_112_2016.csv
lease_112_2017.csv
lease_112_2018.csv
lease_114_2008.csv
lease_114_2009.csv
lease_114_2010.csv
lease_114_2011.csv
lease_114_2012.csv
lease_114_2013.csv
lease_114_2014.csv
lease_114_2015.csv
lease_114_2016.csv
lease_114_2017.csv
lease_114_2018.csv
lease_115_2008.csv
lease_115_2009.csv
lease_115_2010.csv
lease_115_2011.csv
lease_115_2012.csv
lease_115_2013.csv
lease_115_2014.csv
lease_115_2015.csv
lease_115_2016.csv
lease_115_2017.csv
lease_115_2018.csv
lease_116_2008.csv
lease_116_2009.csv
lease_116_2010.csv
lease_116_2011.csv
lease_116_2012.csv
lease_116_2013.csv
lease_116_2014.csv
lease_116_2015.csv
lease_116_2016.csv
lease_116_2017.csv
lease_116_2018.csv